.navigation-list { 
    ul {
        display:flex;
    }
    li {margin-right: 42px;
        a {color: #323232;
            &:hover {
                color: $accent-color;
                
            }
            &.active{
                color: $accent-color;
                font-weight: 700;
            }
        }


        &:last-child {
            margin-right: 0;
        }
        

    }
}